<%= stylesheet_link_tag "explore" %>
<div class = "container">
  <div class = "row category" id = "category1">
    <h4 class = "category-title">HEALTHY FOODS</h4>
    <div class = "catpanel">
      <div class = "left-panel">
       <%= link_to 'recipes/15' do%>
        <img src = "http://static.wixstatic.com/media/a4f5367577aa425aa87387f2f68b4c46.jpg" width="435px">
       <% end %>
      </div>
      <div class = "right-panel">
        <h1><%= Recipe.find_by(recipetitle:'Roast Salmon and Broccoli with Chile-Caper Vinaigrette') %></h1>
        <%= link_to `recipes/#{Recipe.find_by(recipetitle:'Roast Salmon and Broccoli with Chile-Caper Vinaigrette').id}` do %>
          <img class = "mini" src = "http://assets.bonappetit.com/photos/57adef4053e63daf11a4df12/16:9/w_1028,c_limit/roast-salmon-and-broccoli-with-chile-caper-vinaigrette.jpg">
        <% end %>
        <%= link_to 'recipes/18' do%>
          <img class = "mini" src = "http://2.bp.blogspot.com/_UIXOn06Pz70/SFxG6MZ_N-I/AAAAAAAADmM/QkKSA8Awq2c/s800/Strawberry+and+Feta+Salad+500.jpg">
        <% end %>
        <%= link_to 'recipes/19' do%>
          <img class = "mini" src = "http://foodnetwork.sndimg.com/content/dam/images/food/fullset/2013/11/25/0/FNK_honey-soy-grilled-salmon-with-edamame_s4x3.jpg.rend.sni12col.landscape.jpeg">
        <% end %>
        <%= link_to 'recipes/20' do%>
          <img class = "mini" src = "http://del.h-cdn.co/assets/16/21/980x490/landscape-1464124241-delish-grilled-chicken-pineapple-salsa.jpg">
        <% end %>
      </div>
    </div>
  </div>
  <div class = "row category" id = "category2">
    <h4 class = "category-title">BBQ SPECIALS</h4>
    <div class = "catpanel">
      <div class = "left-panel">
        <%= link_to 'recipes/21' do%>
          <img width="435px" height ="290px" src = "https://pantograph0.goldbely.com/cfill-h630-w1200/uploads/merchant/main_image/487/kings-bbq.b1786196c4146d4d843f2ff073ba03ee.jpg">
        <% end %>
      </div>
      <div class = "right-panel">
        <%= link_to 'recipes/23' do%>
          <img class = "mini" src = "http://redcookbook.net/wp-content/uploads/images/Barbecue_Beef_Ribs_18196.jpg">
        <% end %>
        <%= link_to 'recipes/22' do%>
          <img class = "mini" src = "http://foodnetwork.sndimg.com/content/dam/images/food/fullset/2011/4/12/0/FN_Ultimate-BBQ-Chicken_s4x3.jpg.rend.sniipadlarge.jpeg">
        <% end %>
        <%= link_to 'recipes/24' do%>
          <img class = "mini" src = "https://aproncladdotcom.files.wordpress.com/2014/01/dsc_0097.jpg">
        <% end %>
        <%= link_to 'recipes/25' do%>
          <img class = "mini" src = "http://clv.h-cdn.co/assets/15/27/980x490/landscape-1435841609-farm-fresh-steak-0615.jpg">
        <% end %>
      </div>
    </div>
  </div>
</div>
